<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" targetFramework="net48" version="2.2.6" />
  <package id="ExCSS" targetFramework="net48" version="4.2.5" />
  <package allowedVersions="[3.0.3, 3.0.3]" id="log4net" targetFramework="net48" version="3.0.3" />
  <package id="Microsoft-WindowsAPICodePack-Core" targetFramework="net48" version="1.1.5" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Redist" targetFramework="net48" version="2024.1.6" />
  <package id="StrongNamer" targetFramework="net48" version="0.2.5" />
  <package id="Svg" targetFramework="net48" version="3.4.7" />
  <package id="System.Buffers" targetFramework="net48" version="4.5.1" />
  <package id="System.Memory" targetFramework="net48" version="4.5.5" />
  <package id="System.Numerics.Vectors" targetFramework="net48" version="4.5.0" />
  <package allowedVersions="[6.1.0, 6.1.0]" id="System.Runtime.CompilerServices.Unsafe" targetFramework="net48" version="6.1.0" />
  <package developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
  <package id="Win32.Interop" targetFramework="net48" version="0.3.0" />
  <package id="Win32Interop.Dwmapi" targetFramework="net48" version="1.0.1" />
  <package id="Win32Interop.Gdi32" targetFramework="net48" version="1.0.1" />
  <package id="Win32Interop.Kernel32" targetFramework="net48" version="1.0.1" />
  <package id="Win32Interop.User32" targetFramework="net48" version="1.0.1" />
  <package id="Win32Interop.Uxtheme" targetFramework="net48" version="1.0.1" />
</packages>